@page
@model PlotDetailsModel
@{
    @using YasiroRegrave.Pages.common;
    ViewData["Title"] = "空き区画状況";
}
<link href="~/css/PlotDetails.css?v=@DateTime.Now.Ticks" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<div id="PlotDetailsHeader">
    <div id="PlotDetailsTitle">
        @Model.SectionName<br>空き区画状況
    </div>
</div>
<div id="PlotDetailsContainer">
    @{
        var sectionname = "";
        var thumbnail = "";
        if (Model.SectionDatas != null)
        {
            thumbnail = "images/THUMB_" + Model.SectionDatas.ReienCode + "_" + Model.SectionDatas.AreaCode + "_" + Model.SectionDatas.SectionCode + ".png";
            sectionname = Model.SectionDatas.SectionName;
        }
    }
    <img src="@thumbnail" style="border: 1px solid black; width: 200px; height: 200px; object-fit: contain;" alt="選択区画">
    <img src="images/figure1.png">
    <div id="map-container"></div>
    <img src="images/figure2.png">
    <div class="button-container">
        <button type="button" class="back-button" onclick="history.back()">前画面へ戻る</button>
    </div>
</div>


@for (var i = 0; i < Model.CemeteryDatas.Count; i++)
{
    var cemetery = Model.CemeteryDatas[i];
    <div class="PlotInfoContainer" id="table-container-@(cemetery.CemeteryCode)" style="display: none;">
        <p class="district-name" id="district-name-@(cemetery.CemeteryCode)">@sectionname @cemetery.CemeteryName</p>
        <div class="image-content">
            <div class="image-container" id="image-container1-@(cemetery.CemeteryCode)">
                <img class="image" src="@cemetery.ImageFile1" alt="画像1">
            </div>
            <div class="image-container" id="image-container2-@(cemetery.CemeteryCode)">
                <img class="image" src="@cemetery.ImageFile2" alt="画像2">
            </div>
            <table class="data-table" id="table@(cemetery.CemeteryCode)">
                <caption>墓地・墓石セット価格</caption>
                <tr>
                    <th>面積</th>
                    <td>@cemetery.AreaValue</td>
                </tr>
                <tr>
                    <th>墓地使用料</th>
                    <td>@string.Format("{0:#,0}", cemetery.UsageFee)円</td>
                </tr>
                <tr>
                    <th>永代管理料</th>
                    <td>@string.Format("{0:#,0}", cemetery.ManagementFee)円</td>
                </tr>
                <tr>
                    <th>墓石セット価格</th>
                    <td>@string.Format("{0:#,0}", cemetery.SetPrice)円</td>
                </tr>
                <tr>
                    <th>合計</th>
                    <td style="color: red;">@string.Format("{0:#,0}", cemetery.TotalPrice)円</td>
                </tr>
            </table>
        </div>
        <label>
            ＼<span style="color: red;">区画の仮予約</span>が可能です／
            <br>
            (仮予約期間：１週間)
        </label>
        <div class="button-container">
            <button class="button-visit" onclick="location.href='Reserve?index=@(cemetery.CemeteryIndex)&mode=@((int)Config.ReserveType.見学予約)'">見学予約のお申込み</button>
            <button class="button-reserve" onclick="location.href='Reserve?index=@(cemetery.CemeteryIndex)&mode=@((int)Config.ReserveType.仮予約)'">仮予約のお申込み</button>
        </div>
        <label>
            お電話でも承ります。
        </label>
        <div>
            <img src="images/PhoneNumber.png" style="border: 1px solid black;">
        </div>
    </div>
}

<script>
    function unescapeHtml(html) {
        var tempElement = document.createElement('textarea');
        tempElement.innerHTML = html;
        return tempElement.value;
    }
    var ReienCode = '@Model.ReienCode';
    var AreaCode = '@Model.AreaCode';
    var SectionCode = unescapeHtml('@Html.Raw(Model.SectionCode)');
    var CemeteryDatas = @Html.Raw(Json.Serialize(Model.CemeteryDatas));
</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/PlotDetails.js"></script>
