@page
@model YasiroRegrave.Pages.ReienEditModel
@{
    @using YasiroRegrave.Pages.common;
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <title>メール送信先編集</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/css/header.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/css/UserEdit.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/css/SideBar.css?v=@DateTime.Now.Ticks">
</head>
<body>
    <div class="container-fluid d-flex">
        <div class="sidebar">
            <div class="sidebar-header">
                <a href="https://www.yasiro.co.jp/reien/ikoma/">
                    <img src="~/images/yasiro.png" alt="Sidebar Icon" class="sidebar-icon">
                </a>
            </div>
            <div class="sidebar-header">
                <a href="/PlotArea">
                    <img src="~/images/akikukaku.png" alt="Sidebar Icon" class="sidebar-icon">
                </a>
            </div>
            <ul class="sidebar-menu">
                <li><a href="/UserList">ユーザー情報一覧</a></li>
                <li><a href="/VenderList">販売会社情報一覧</a></li>
                <li><a href="/ReienList" style="font-weight: bold;">メール送信先一覧</a></li>
                <li><a href="/CemeteryInfoList">墓所情報一覧</a></li>
            </ul>
            @if (Model.LoginId != null && Model.LoggedInUser != null)
            {
                <div class="sidebar-footer">
                    <span>＜ログインユーザー＞<br /></span>
                    <span>@Model.LoggedInUser.VenderName<br /></span>
                    <span>@Model.LoggedInUser.Name</span>
                    <div class="sidebar-button">
                        <form method="post" asp-page-handler="Logout">
                            <button type="submit" class="btn btn-danger">ログアウト</button>
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="content">
            <div class="container mt-5">
                <form method="post">
                    <div class="header-container">
                        <img src="~/images/user.png" alt="User Icon" class="header-icon">
                        <h2 class="header-title">メール送信先情報編集</h2>
                        <div class="header-form">
                            <button type="button" class="btn btn-secondary" onclick="onclickBack()">戻る</button>
                            <input type="hidden" name="index" value="@Model.Index" />
                            <button class="btn btn-primary new-user-btn" type="submit">保存</button>
                        </div>
                    </div>

                    <div class="col-md-6 p-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="Code">霊園コード</label>
                                        <span asp-validation-for="ReienCode" class="text-danger"></span>
                                        <input type="text" asp-for="ReienCode" class="form-control" value="@Model.ReienCode" autocomplete="off" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="Name">霊園名</label>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                        <input type="text" asp-for="Name" class="form-control" value="@Model.Name" autocomplete="off" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="Mail_Address">メールアドレス</label>
                                        <span asp-validation-for="MailAddress" class="text-danger"></span>
                                        <input type="text" asp-for="MailAddress" class="form-control" value="@Model.MailAddress" autocomplete="off">
                                        <p>※カンマ区切りで複数登録可能</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    let editDataStruct = {
        ReienCode: '',
        Name: '',
        MailAddress: '',
    };
    let initData = Object.assign({}, editDataStruct);
    let editData = Object.assign({}, editDataStruct);
    var confMessage = '@Html.Raw(Message.M_Q0002)';

    document.addEventListener('DOMContentLoaded', function () {
        setEditData(initData);
    });

    function onclickBack() {
        setEditData(editData);
        if (!cmpEditData(initData, editData)) {
            if (!confirm(confMessage)) {
                return;
            }
        }
        window.location.href = '/ReienList';
    }

    function setEditData(data) {
        data.ReienCode = document.getElementById('ReienCode').value;
        data.Name = document.getElementById('Name').value;
        data.MailAddress = document.getElementById('MailAddress').value;
    }

    function cmpEditData(initData, editData) {
        return initData.ReienCode === editData.ReienCode
            && initData.Name === editData.Name
            && initData.MailAddress === editData.MailAddress
    }
</script>