@page
@model YasiroRegrave.Pages.ReienListModel
@{
        @using YasiroRegrave.Pages.common;
        Layout = null;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/UserList.css">
    <link rel="stylesheet" href="~/css/SideBar.css">
</head>
    <div class="sidebar">
        <div class="sidebar-header">
            <a href="https://www.yasiro.co.jp/reien/ikoma/">
                <img src="~/images/yasiro.png" alt="Sidebar Icon" class="sidebar-icon">
            </a>
        </div>
        <ul class="sidebar-menu">
            <li><a href="/UserList">ユーザー情報一覧</a></li>
            <li><a href="/VenderList">販売会社情報一覧</a></li>
            <li><a href="/ReienList">メール送信先一覧</a></li>
            <li><a href="/CemeteryInfoList">墓所情報一覧</a></li>        </ul>
    </div><div class="container">
    <div class="header-container">
        <img src="~/images/user.png" alt="User Icon" class="header-icon">
        <h2 class="header-title">メール送信先一覧</h2>
        <div class="header-form">
        <form method="get" action="/ReienEdit">
            <button type="submit" class="btn btn-primary new-user-btn">新規追加</button>
        </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>霊園コード</th>
                        <th>霊園名</th>
                        <th>メール送信先</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reien in Model.Reiens)
                    {
                        <tr>
                        <td>@reien.Code</td>
                        <td>@reien.ReienName</td>
                        <td>
                    @foreach (var email in reien.MailAddress.Split(','))
                    {
                    <div>@email</div>
                    }
                    </td>
                            <td class ="edit-btn-cell">
                                    <div class="edit-btn-wrapper">
                                 <form method="get"class="btn-form"action="/ReienEdit"style="display: inline-block; margin-right: 1px;">
                                    <input type="hidden" name="Index" value="@reien.Index"/>
                                    <button type="submit" class="btn btn-secondary">編集</button>
                                 </form>

                                <form method="post"class="btn-form"onsubmit="return confirm('@Message.M_Q0001')"style="display: inline-block; margin-right: 1px;">
                                      <input type="hidden"name="Index" value="@reien.Index"/>
                                      <button type="submit" class="btn btn-warnning">削除</button>
                                  </form>
                                 </div> 
                            </td class>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>