@page
@model YasiroRegrave.Pages.ReserveConfirmModel
@{
    @using YasiroRegrave.Pages.common;
    ViewData["Title"] = "予約のお申し込み確認";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/Reserve.css?v=@DateTime.Now.Ticks">
<link rel="stylesheet" href="./css/Reserve-sp.css?v=@DateTime.Now.Ticks" media="only screen and (max-width: 768px)">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<header>
    <h1>空き区画@(Model.ReserveName)の<br>お申し込み確認</h1>
</header>
<main>
    <section>
        <h2>電話でのご予約も可能です。</h2>
        <img src="~/images/PhoneNumber.png?v=@DateTime.Now.Ticks" alt="Sidebar Icon">
        <h2>メールでのご予約</h2>
        <div>下記内容をご確認の上、「メール送信」ボタンを押してください。</div>
    </section>
    <section>
        <form method="post">
            <div class="confirm-table">
                <table>
                    <tr>
                        <td><label for="section-number">ご希望の区画番号</label></td>
                        <td>
                            <span>@Model.SectionNumber</span>
                            <input type="hidden" id="section-number" name="SectionNumber" value="@Model.SectionNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="last-name">姓名</label></td>
                        <td>
                            <span>@Model.LastName @Model.FirstName</span>
                            <input type="hidden" id="last-name" name="LastName" value="@Model.LastName" />
                            <input type="hidden" id="first-name" name="FirstName" value="@Model.FirstName" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="last-name-kana">せいめい</label></td>
                        <td>
                            <span>@Model.LastNameKana @Model.FirstNameKana</span>
                            <input type="hidden" id="last-name-kana" name="LastNameKana" value="@Model.LastNameKana" />
                            <input type="hidden" id="first-name-kana" name="FirstNameKana" value="@Model.FirstNameKana" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="postal-code">郵便番号</label></td>
                        <td>
                            <span>@Model.PostalCode</span>
                            <input type="hidden" id="postal-code" name="PostalCode" value="@Model.PostalCode" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="prefecture">都道府県</label></td>
                        <td>
                            <span>@Model.Prefecture</span>
                            <input type="hidden" id="prefecture" name="Prefecture" value="@Model.Prefecture" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="city">市区郡</label></td>
                        <td>
                            <span>@Model.City</span>
                            <input type="hidden" id="city" name="City" value="@Model.City" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="address">町名・番地</label></td>
                        <td>
                            <span>@Model.Address</span>
                            <input type="hidden" id="address" name="Address" value="@Model.Address" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="building">ビル・マンション名</label></td>
                        <td>
                            <span>@Model.Building</span>
                            <input type="hidden" id="building" name="Building" value="@Model.Building" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="phone">電話番号</label></td>
                        <td>
                            <span>@Model.Phone</span>
                            <input type="hidden" id="phone" name="Phone" value="@Model.Phone" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">メールアドレス</label></td>
                        <td>
                            <span>@Model.Email</span>
                            <input type="hidden" id="email" name="Email" value="@Model.Email" />
                        </td>
                    </tr>

                    @if (Model.ReserveMode == (int)Config.ReserveType.見学予約)
                    {
                        <tr>
                            <td><label for="date1">希望日時①</label></td>
                            <td>
                                <span>@Model.Date1 @Model.Time1</span>
                                <input type="hidden" id="date1" name="Date1" value="@Model.Date1" />
                                <input type="hidden" id="time1" name="Time1" value="@Model.Time1" />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="date2">希望日時②</label></td>
                            <td>
                                <span>@Model.Date2 @Model.Time2</span>
                                <input type="hidden" id="date2" name="Date2" value="@Model.Date2" />
                                <input type="hidden" id="time2" name="Time2" value="@Model.Time2" />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="date3">希望日時③</label></td>
                            <td>
                                <span>@Model.Date3 @Model.Time3</span>
                                <input type="hidden" id="date3" name="Date3" value="@Model.Date3" />
                                <input type="hidden" id="time3" name="Time3" value="@Model.Time3" />
                            </td>
                        </tr>
                    }

                    <tr>
                        <td><label for="inquiry">お問い合わせ内容</label></td>
                        <td>
                            <span>@Html.Raw(Model.Inquiry.Replace("\r\n", "<br>").Replace("\n", "<br>"))</span>
                            <input type="hidden" id="inquiry" name="Inquiry" value="@Model.Inquiry" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="contact-methods">ご希望の連絡方法 <span class="note"></span></label></td>
                        <td>
                            <span>
                                電話：@(Model.IsContactByPhone == "1" ? "希望する" : "希望しない")
                                <br>
                                メール：@(Model.IsContactByEmail == "1" ? "希望する" : "希望しない")
                            </span>
                            <input type="hidden" id="is-contact-by-phone" name="IsContactByPhone" value="@Model.IsContactByPhone" />
                            <input type="hidden" id="is-contact-by-email" name="IsContactByEmail" value="@Model.IsContactByEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email-subscription">メール配信</label></td>
                        <td>
                            <span>
                                @(Model.Subscription == "1" ? "受信する" : "受信しない")
                            </span>
                            <input type="hidden" id="subscription" name="Subscription" value="@Model.Subscription" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="button-wrapper">
                <input type="hidden" id="CemeteryName" name="CemeteryName" value="@Model.CemeteryName" />
                <input type="hidden" id="CemeteryIndex" name="CemeteryIndex" value="@Model.CemeteryIndex" />
                <input type="hidden" id="ReserveMode" name="ReserveMode" value="@Model.ReserveMode" />
                <button type="button" class="back-button" onclick="history.back()">入力画面へ戻る</button>
                <button type="submit" class="submit-button">メール送信</button>
            </div>

            <div class="announce-note">
                <br>※申し込み後、@(Model.ReserveName)の内容を記載した自動返信メールを送信致します。<br>届かない場合はお問い合わせください。<br><br>
            </div>
            <img src="~/images/PhoneNumber.png?v=@DateTime.Now.Ticks" alt="Sidebar Icon">
        </form>
    </section>
</main>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var errorMessage = @Html.Raw(Json.Serialize(Model.ReserveError));
            if (errorMessage) {
                alert(errorMessage);
                window.location.href = '/PlotSelection';
            }
        });
    </script>
}