@* @page
@model YasiroRegrave.Pages.ReserveInfoListModel
@{
    @using YasiroRegrave.Pages.common;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/UserList.css">
</head>

<div class="container">
    <div class="header-container">
        <img src="~/images/user.png" alt="User Icon" class="header-icon">
        <h2 class="header-title">予約者情報一覧</h2>
        <form method="get" action="/Reserve_Info_Edit">
            <button type="submit" class="btn btn-primary new-user-btn">新規追加</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>姓</th>
                        <th>名</th>
                        <th>ふりがな（姓）</th>
                        <th>ふりがな（名）</th>
                        <th>郵便番号</th>
                        <th>住所</th>
                        <th>電話番号</th>
                        <th>メールアドレス</th>
                        <th>質問</th>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var reserve_Info in Model.Reserve_Infos)
                    {
                        <tr>
                            <td>@reserve_Info.Last_Name</td>
                            <td>@reserve_Info.First_Name</td>
                            <td>@reserve_Info.Last_Name_Yomi</td>
                            <td>@reserve_Info.First_Name_Yomi</td>
                            <td>@reserve_Info.Zip_Code</td>
                            <td>@reserve_Info.Adress</td>
                            <td>@reserve_Info.Telephone_Number</td>
                            <td>@reserve_Info.E_Mail</td>
                            <td>@reserve_Info.Question</td>
                            <td>@reserve_Info.VenderIndex</td>

                            <td class ="edit-btn-cell">
                                 <form method="get" action="/Reserve_Info_Edit">
                                    <input type="hidden" name="Index" value="@reserve_Info.Reserve_Index" />
                                    <button type="submit" class="btn btn-secondary">編集</button>
                                 </form>

                                <form method="post" onsubmit="return confirm('@Message.M_Q0001')">
                                      <input type="hidden"name="Index" value="@reserve_Info.Reserve_Index"/>
                                      <button type="submit" class="btn btn-secondary">削除</button>
                                  </form>
                            </td class>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> *@