@page
@model YasiroRegrave.Pages.ReserveConfirmModel
@{
    @using YasiroRegrave.Pages.common;
    ViewData["Title"] = "予約のお申し込み確認";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/Reserve.css">
<link rel="stylesheet" href="./css/Reserve-sp.css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<header>
    <h1>空き区画@(Model.ReserveName)の<br>お申し込み確認</h1>
</header>
<main>
    <section>
        <h2>電話でのご予約も可能です。</h2>
        <img src="~/images/PhoneNumber.png" alt="Sidebar Icon">
        <h2>メールでのご予約</h2>
        <div>下記内容をご確認の上、「メール送信」ボタンを押してください。</div>
    </section>
    <section>
        <div class="confirm-table">
            <table>
                <tr>
                    <td><label for="section-number">ご希望の区画番号</label></td>
                    <td><span id="section-number" name="section-number">@Model.SectionNumber</span></td>
                </tr>
                <tr>
                    <td><label for="last-name">姓名</label></td>
                    <td><span id="last-name" name="last-name">@Model.LastName　@Model.FirstName</span></td>
                </tr>
                <tr>
                    <td><label for="last-name-kana">せいめい</label></td>
                    <td><span id="last-name-kana" name="last-name-kana">@Model.LastNameKana　@Model.FirstNameKana</span></td>
                </tr>
                <tr>
                    <td><label for="postal-code">郵便番号</label></td>
                    <td><span id="postal-code" name="postal-code">@Model.PostalCode</span></td>
                </tr>
                <tr>
                    <td><label for="prefecture">都道府県</label></td>
                    <td><span id="prefecture" name="prefecture">@Model.Prefecture</span></td>
                </tr>
                <tr>
                    <td><label for="city">市区郡</label></td>
                    <td><span id="city" name="city">@Model.City</span></td>
                </tr>
                <tr>
                    <td><label for="address">町名・番地</label></td>
                    <td><span id="address" name="address">@Model.Address</span></td>
                </tr>
                <tr>
                    <td><label for="building">ビル・マンション名</label></td>
                    <td><span id="building" name="building">@Model.Building</span></td>
                </tr>
                <tr>
                    <td><label for="phone">電話番号</label></td>
                    <td><span id="phone" name="phone">@Model.Phone</span></td>
                </tr>
                <tr>
                    <td><label for="email">メールアドレス</label></td>
                    <td><span id="email" name="email">@Model.Email</span></td>
                </tr>

                @if (Model.ReserveMode == (int)Config.ReserveType.見学予約)
                {
                    <tr>
                        <td><label for="date1">希望日時①</label></td>
                        <td><span id="date1" name="date1">@Model.Date1　@Model.Time1</span></td>
                    </tr>
                    <tr>
                        <td><label for="date2">希望日時②</label></td>
                        <td><span id="date2" name="date2">@Model.Date2　@Model.Time2</span></td>
                    </tr>
                    <tr>
                        <td><label for="date3">希望日時③</label></td>
                        <td><span id="date3" name="date3">@Model.Date3　@Model.Time3</span></td>
                    </tr>
                }

                <tr>
                    <td><label for="inquiry">お問い合わせ内容</label></td>
                    <td><span id="inquiry" name="inquiry">@Html.Raw(Model.Inquiry.Replace("\r\n", "<br>").Replace("\n", "<br>"))</span></td>
                </tr>
                <tr>
                    <td><label for="contact-methods">ご希望の連絡方法 <span class="note"></span></label></td>
                    <td>
                        <span id="contact-methods" name="contact-methods">
                            電話：@(Model.IsContactByPhone == "1" ? "希望する" : "希望しない")
                            <br>
                            メールアドレス：@(Model.IsContactByEmail == "1" ? "希望する" : "希望しない")
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="email-subscription">メール配信</label></td>
                    <td>
                        <span id="email-subscription" name="email-subscription">
                            メールアドレス：@(Model.Subscription == "1" ? "受信する" : "受信しない")
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="button-wrapper">
            <button type="button" class="back-button" onclick="history.back()">入力画面へ戻る</button>
            <button type="submit" class="submit-button">@(Model.ReserveName)</button>
        </div>

        <div class="announce-note">
            <br>※申し込み後、@(Model.ReserveName)の内容を記載した自動返信メールを送信致します。<br>届かない場合はお問い合わせください。<br><br>
        </div>
        <img src="~/images/PhoneNumber.png" alt="Sidebar Icon">
    </section>
</main>
