@page
@model UserListModel
@{
    @using YasiroRegrave.Pages.common;
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <title>ユーザー情報一覧</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/css/header.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/css/UserList.css?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="~/css/SideBar.css?v=@DateTime.Now.Ticks">
</head>
<body>
    <div class="container-fluid d-flex">
        <div class="sidebar">
            <div class="sidebar-header">
                <a href="https://www.yasiro.co.jp/reien/ikoma/">
                    <img src="~/images/yasiro.png" alt="Sidebar Icon" class="sidebar-icon">
                </a>
            </div>
            <div class="sidebar-header">
                <a href="/PlotSelection">
                    <img src="~/images/akikukaku.png" alt="Sidebar Icon" class="sidebar-icon">
                </a>
            </div>
            <ul class="sidebar-menu">
                <li><a href="/UserList" style="font-weight: bold;">ユーザー情報一覧</a></li>
                <li><a href="/VenderList">販売会社情報一覧</a></li>
                <li><a href="/ReienList">メール送信先一覧</a></li>
                <li><a href="/CemeteryInfoList">墓所情報一覧</a></li>
            </ul>
            @if (Model.LoginId != null && Model.LoggedInUser != null)
            {
                <div class="sidebar-footer">
                    <span>＜ログインユーザー＞<br /></span>
                    <span>@Model.LoggedInUser.VenderName<br /></span>
                    <span>@Model.LoggedInUser.Name</span>
                </div>
            }
        </div>
        <div class="content">
            <div class="header-container">
                <img src="~/images/user.png" alt="User Icon" class="header-icon">
                <h2 class="header-title">ユーザー情報一覧</h2>
                <div class="header-form">
                    <form method="get" action="/UserEdit">
                        <button type="submit" class="btn btn-primary new-user-btn">新規追加</button>
                    </form>
                </div>
            </div>

            <!-- 検索条件 -->
            <div class="form-search">
                <form method="post">
                    <div class="search-controls">
                        <div class="search-group">
                            <label for="filter-vender">販売会社</label>
                            <select class="search-select" name="FilterVender" id="filter-vender" style="width: 20%;">
                                <option value="-1" selected>-</option>
                                @foreach (var vender in Model.Venders)
                                {
                                    <option value="@vender.VenderIndex" selected="@(vender.VenderIndex == Model.FilterVender ? "selected" : null)">@vender.VenderName</option>
                                }
                            </select>
                        </div>
                        <input type="hidden" name="Action" value="Search" />
                        <button type="submit" class="btn btn-secondary">検索</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>販売会社</th>
                                    <th>名前</th>
                                    <th>ログインID</th>
                                    <th>権限</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>@user.VenderName</td>
                                        <td>@user.Name</td>
                                        <td>@user.Id</td>
                                        <td>
                                            @if (user.Authority == (int)Config.AuthorityType.管理者)
                                            {
                                                @:管理者
                                            }
                                            else if (user.Authority == (int)Config.AuthorityType.担当者)
                                            {
                                                @:担当者
                                            }
                                        </td>
                                        <td class="edit-btn-cell">
                                            <form method="get" class="btn-form" action="/UserEdit">
                                                <input type="hidden" name="Index" value="@user.Index" />
                                                <button type="submit" class="btn btn-secondary">編集</button>
                                            </form>
                                            <form method="post" class="btn-form" onsubmit="return confirm('@Message.M_Q0001')">
                                                <input type="hidden" name="Index" value="@user.Index" />
                                                <input type="hidden" name="Action" value="Delete" />
                                                <button type="submit" class="btn btn-warnning" @(user.Id == "admin" ? "disabled" : "")>削除</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>